html
  head
    meta(charset='utf-8')
    title= channel
    link(rel='stylesheet', href="../static/style.css")
  body
    #slack-archive-viewer
      #sidebar
        ul.list#channel-list
          each channel in channels
            li.channel(id=channel.name===currentChannel ? "active-channel" : "")
              a(href=encodeURIComponent(channel.name)) #{channel.name}
              // channel名の前に#をつけるべき
      #message-view
         each message in messages
          .message-container(class=message.subtype || "")
            div(id=message.ts)
              img.user_icon(src=users.get(message.user).profile.image_48, alt="")
              // image_48はまだtypedでない
              .message
                .username #{users.get(message.user).profile.display_name || users.get(message.user).real_name}
                a(href=message.ts)
                 .time #{new Date(parseFloat(message.ts)*1000).toLocaleString()}
                //- p #{users.get(message.user).id}
                .msg #{message.text}
                  // attachment
                  // file
                  //reaction
                  if message.reactions
                    each reaction in message.reactions
                      .message-reaction :#{reaction.name}: #{reaction.users.map(user => users.get(user).profile.display_name || users.get(user).real_name).join(", ")}

    script(src="../static/scripts.js")